<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/global.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--Container-Section Starts-->
  <section class="container-section">
      <div class="container">
      <div class="row container-section_space">
          <div class="container-section_block-left col-md-7">
              <div class="container-section_mobile">
                    <img src="./images/quote-tracey.jpg" class="img-responsive thumb hidden-md hidden-lg">
              </div>
              <p>“Our Community Health initiatives give us the ability to address those
                  things that frequently fall out of the scope of traditional health care. This
                  includes concerns like food insecurity, housing, childcare and social 
                  isolation, to name a few. We’re starting to intervene and mitigate some of 
                  those concerns to improve the health of our members. When we
                  link people with care coordinators, personal health assistants and community 
                  health workers that mirror the communities that we serve, we reduce
                  barriers, and impact the health and overall well-being of our members and communities.”</p>
              <p>Tracy Parris-Benjamin</p>
                 <p>Director, Clinical Design, Community Health</p>
          </div>
          <div class="col-md-5 container-section_block-right hidden-sm hidden-xs">
              <img src="./images/quote-tracey.jpg" class="img-responsive img-thumb">
          </div>

      </div>
      </div>
    </section>
      <!--Container-Section Ends-->
        <!--Two-Block Container Starts-->
    <div class="two-block_container">
            <div class="left-block_container">
                <a href="#">
                    <div class="pos-rel">
                        <img src="./images/medicare-homepage-basics-block-new.png" class="img-responsive"alt="We Empower">
                        <div class="pos-rel_top hidden-xs hidden-sm">
                                <h2>
                                    Understanding Medicare
                                </h2>
                                <p>Original Medicare pays for many health care services and supplies, but it <br>
                                    doesn't cover everything. Most people need additional private coverage to <br>
                                    help pay for out-of-pocket costs.</p>
                            </div>
                            <div class="pos-rel_top-mobile hidden-md hidden-lg">
                                <div class="container-fluid">
                            
                                    <h2>
                                        Understanding Medicare
                                    </h2>
                                    <p>Original Medicare pays for many health care services and supplies, but it
                                        doesn't cover everything. Most people need additional private coverage to 
                                        help pay for out-of-pocket costs.</p>
                                </div>
                            </div>
                    </div>
                </a>
            </div>
            <div class="right-block_container">
                <a href="#">
                    <div class="pos-rel">
                        <img src="./images/medicare-homepage-members-block.png" class="img-responsive" alt="We Lead">
                        <div class="pos-rel_top hidden-xs hidden-sm">
                                <h2>
                                        Helping Someone Else Enroll
                                           </h2>
                                           <p>If you are a caregiver, before discussing treatment options or health issues,<br>
                                              have your loved one sign a consent form giving their doctor permission to <br>
                                              speak with you.</p>
                            
                        </div>
                        <div class="pos-rel_top-mobile hidden-md hidden-lg">
                                <div class="container-fluid">
                                <h2>
                                        Helping Someone Else Enroll
                                           </h2>
                                           <p>If you are a caregiver, before discussing treatment options or health issues,
                                              have your loved one sign a consent form giving their doctor permission to
                                              speak with you.</p>
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
          <!--Two-Block Container Ends-->
    </body>
</html>
