<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/global.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="js/modernizr.custom.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
</head>

<body>
    <div class="bg-white top-nav">
        <section class="header-section">

            <div class="header-section_position">
                <div class="header-section_header-content">
                    <a class="navbar-brand" href="#">
                        <img alt="Horizon Blue Cross Blue Shield of New Jersey" class="img-responsive" src="./images/logo.png" style="width:130px;"></a>
                    <div id="dl-menu" class="dl-menuwrapper">
                        <button type="button" class="toggle-btn dl-trigger">
                            <span class="menu hidden-xs">MENU</span>
                            <span class="fa fa-bars" aria-hidden="true"></span>

                        </button>
                        <ul class="dl-menu">

                            <li>
                                <a href="#">We Empower</a>
                                <ul class="dl-submenu">
                                    <li>
                                        <a href="#"> Building Healthier Communities </a></li>
                                    <li>
                                        <a href="#"> Care for the Mind and Body </a></li>
                                    <li>
                                        <a href="#"> Supportive Care </a></li>
                                    <li>
                                        <a href="#">  Our Digital Transformation  </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">We Lead</a>
                                <ul class="dl-submenu">

                                    <li><a href="#"> Changing Health Care, Changing Lives </a></li>
                                    <li><a href="#"> Collaboration Leads to Success </a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">We Innovate</a>
                                <ul class="dl-submenu">

                                    <li><a href="#">Choices That Deliver</a></li>
                                    <li><a href="#">Options for Those Who Need Them </a></li>
                                    <li><a href="#">Bridging Culture and Care </a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">We Care</a>
                                <ul class="dl-submenu">
                                    <li><a href="#"> The Horizon Foundation for New Jersey </a></li>
                                    <li><a href="#"> Horizon Cares </a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                                <ul class="dl-submenu">
                                    <li><a href="#">Facts and Figures </a></li>
                                    <li><a href="#"> Board of Directors </a></li>
                                    <li><a href="#"> Executive Leadership </a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <div class="overlay-wrap"></div>
    <section class="hero-image">
        <img src="images/backgroundImage.jpg" class="img-responsive">
    </section>
    <!--Container-Section Starts-->
    <section class="container-section">
        <div class="container">
            <div class="row container-section_space">
                <div class="container-section_block-left col-md-7">
                    <div class="container-section_mobile">
                        <img src="./images/quote-tracey.jpg" class="img-responsive thumb hidden-md hidden-lg">
                    </div>
                    <p>“Our Community Health initiatives give us the ability to address those things that frequently fall out of the scope of traditional health care. This includes concerns like food insecurity, housing, childcare and social isolation, to name a few. We’re starting to intervene and mitigate some of those concerns to improve the health of our members. When we link people with care coordinators, personal health assistants and community health workers that mirror the communities that we serve, we reduce barriers, and impact the health and overall well-being of our members and communities.”</p>
                    <p>Tracy Parris-Benjamin</p>
                    <p>Director, Clinical Design, Community Health</p>
                </div>
                <div class="col-md-5 container-section_block-right hidden-sm hidden-xs">
                    <img src="./images/quote-tracey.jpg" class="img-responsive img-thumb">
                </div>

            </div>
        </div>
    </section>
    <!--Container-Section Ends-->
    <!--Two-Block Container Starts-->
    <div class="two-block_container">
        <div class="left-block_container">
            <a href="#">
                <div class="pos-rel">
                    <img src="./images/medicare-homepage-basics-block-new.png" class="img-responsive" alt="We Empower">
                    <div class="pos-rel_top hidden-xs hidden-sm">
                        <h2>
                                      Understanding Medicare
                                  </h2>
                        <p>Original Medicare pays for many health care services and supplies, but it
                            <br> doesn't cover everything. Most people need additional private coverage to
                            <br> help pay for out-of-pocket costs.</p>
                    </div>
                    <div class="pos-rel_top-mobile hidden-md hidden-lg">
                        <div class="container-fluid">

                            <h2>
                                          Understanding Medicare
                                      </h2>
                            <p>Original Medicare pays for many health care services and supplies, but it doesn't cover everything. Most people need additional private coverage to help pay for out-of-pocket costs.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="right-block_container">
            <a href="#">
                <div class="pos-rel">
                    <img src="./images/medicare-homepage-members-block.png" class="img-responsive" alt="We Lead">
                    <div class="pos-rel_top hidden-xs hidden-sm">
                        <h2>
                                          Helping Someone Else Enroll
                                             </h2>
                        <p>If you are a caregiver, before discussing treatment options or health issues,
                            <br> have your loved one sign a consent form giving their doctor permission to
                            <br> speak with you.</p>

                    </div>
                    <div class="pos-rel_top-mobile hidden-md hidden-lg">
                        <div class="container-fluid">
                            <h2>
                                          Helping Someone Else Enroll
                                             </h2>
                            <p>If you are a caregiver, before discussing treatment options or health issues, have your loved one sign a consent form giving their doctor permission to speak with you.</p>

                        </div>
                    </div>
            </a>
            </div>
        </div>
        <!--Two-Block Container Ends-->
        <script>
                $(function() {
                    $('#dl-menu').dlmenu();
                });
                $(document).ready(function() {
                    $(".toggle-btn").click(function() {
                        $(".overlay-wrap").toggle();
                    });
                });
            </script>

</body>

</html>