<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Carousel</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/docs.theme.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/owl.carousel.js"></script>
    <script src="./js/global.js"></script>
</head>

<body>

    <div class="row">
        <div class="column">
            <div class="owl-carousel owl-theme ">
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-one.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">New for 2019 : NJ Mandate</p>

                        <p class="card-text">We offer a variety of affordable plans, so that everyone can get the coverage they need and avoid paying a penalty. This is especially important considering the new state law that requires residents of New Jersey to have health insurance beginning January 1, 2019, or pay a penalty (2.5% of household income or a per-person charge, whichever is higher), to learn more, visit <a class="anchorlink-blue" href="#">HorizonBlue.com/njmandate</a></p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-two.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">I don't use much medical care, what plan should I consider?</p>

                        <p>Silver or Bronze plans with lower premiums but higher deductibles and out-of-pocket costs or an Essentials plan (if you’re under age 30 only).</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-three.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">I use medical care a lot, what plan should I consider?</p>

                        <p>You see doctors often and not only for preventive care. You may have a chronic condition and/or take maintenance medications.</p>

                        <p>Gold or Silver plans with higher premiums but lower deductibles and out-of-pocket costs.</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-four.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">Would you be willing to choose from select doctors and hospitals to pay a lower deductible?</p>

                        <p><strong>YES </strong>
                            <br/> OMNIA Gold and Silver Plans. You’ll save more and have lower out-of-pocket costs when using OMNIA Tier 1 doctors, hospitals and other health care professionals designated in our Doctor &amp; Hospital Finder. Visit <a class="anchorlink-blue" href="#">HorizonBlue.com/DoctorFinder</a> to see a complete list of health care professionals near you.
                        </p>

                        <p> <strong>NO </strong>
                            <br/>Advantage EPO Plans. </p>

                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-five.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">Are you under age 30 and generally healthy?</p>

                        <p><strong>YES </strong>
                            <br/> Advantage EPO Essentials Plan.</p>

                        <p><strong>NO </strong>

                            <br/>Gold or Silver plans with higher premiums but lower deductibles and out-of-pocket costs.</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-six.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">About Horizon Advantage EPO Plans.</p>

                        <p>These plans offer affordable care when you use participating doctors, specialists and hospitals. (EPO stands for “Exclusive Provider Organization.”) While it’s not required, you’re encouraged to select a Primary Care Physician (PCP) who will coordinate your care. Except for true emergency and urgent care, out-of-network care is not covered.</p>

                        <p><strong>The Essentials Plan </strong>is a low-cost, high-deductible option designed for healthy individuals under age 30.</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-seven.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">Who should choose the OMNIA Bronze HSA Plan?</p>

                        <p>This is our lowest premium plan. It offers our lowest monthly premium but highest out-of-pocket costs. It’s a good choice if you don’t expect to use a lot of medical services.</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-eight.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">Who should choose the OMNIA Silver Plan?</p>

                        <p>This plan offers a mid-level monthly premium and out-of-pocket costs when compared to other OMNIA health plans. It’s a good choice if you want a balance between monthly premiums and out-of-pocket costs. There are two OMNIA silver plans, one with a pre-tax health savings account and one without.</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-nine.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">Who should choose the OMNIA Gold Plan?</p>

                        <p>This plan offers a higher monthly premium but lower out-of-pocket costs when compared to other OMNIA Health Plans. The OMNIA Gold Plan is a good choice if you expect to use a fair amount of medical services.</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-ten.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">Some OMNIA Health Plans allow HSAs. Who should have one?</p>

                        <p>If you like planning for the unexpected and enjoy tax advantages, consider a Health Savings Account, or HSA. It’s a portable savings account to pay for out-of-pocket medical expenses. You can save up to a set amount of money each year, tax-free and use it toward your deductible and other medical expenses that your plan doesn’t cover.</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-twelve.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">What is True Family Aggregate Deductible</p>

                        <p class="card-text">It is possible that one or more members can exceed their individual deductible because the family deductible must be met first. The family deductible can be met by one member on the policy or a combination of members. The OMNIA Silver HSA and Bronze HSA plans have this type of deductible.</p>
                    </div>
                </div>
                <div class="card items">
                    <img class="card-img-top" src="./images/faq-thirteen.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text question-font">What is Aggregate Deductible?</p>

                        <p class="card-text">Each family member only needs to meet the individual deductible, and the family deductible amount can be met by any combination of family members, with no single person meeting more than the individual deductible amount. OMNIA Gold and Silver plans have this type of deductible.</p>
                    </div>

                </div>

            </div>

        </div>
    </div>

</body>

</html>